
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 1280px;
  color: #3b3b3b;
  font-size: 24px;
  padding: 0 20%;
  margin-top: 2rem;
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 400;
  font-family:'Kaisei Decol', serif;
}

a,
a:visited,
a:hover {
  color: teal;
  text-decoration: none;
  border-bottom: 2px solid currentColor;
}

#intro {
  max-width: 40rem;
  margin: 1rem auto;
  text-align: center;
  /* margin-bottom: 2rem; */
}

.intro__hed {
  font-size: 2em;
  margin: 2rem auto 0.5rem auto;
}

.intro__dek {
  color: #8a8a8a;
}

#intro {
  margin-bottom: 30px;
}

#outro {
  height: 640px;
  margin-top: 5rem;
}

@media (min-width: 840px) {
  .nav__examples {
    margin-top: 0;
    margin-left: 2rem;
  }
}

.plot-holder {
  margin-bottom: 2rem;
  position: center;
  display: center; 
  max-width: 1200;
  padding: 0 2em;
  margin: 0 auto;
}

.plot-holder p {
  position: center;
  display: center;
  padding: 0 1em; 
}

@import url('https://fonts.googleapis.com/css?family=Kaisei+Decol');
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho');
.text_box {
    font-size:  40px;
    margin:  20px; 
}
.font_jp {
    font-family: 'Kaisei Decol', serif;
}